* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

li {
    list-style-type: none;
}

#wrap {
    width: 900px;
    margin: 3em auto;
    height: auto;
}

header {
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    margin: 1em 0;
}

header h1 {
    font-size: 2em;
    color: #E67000;
    overflow: hidden;
}

header ul {
    background-color: #66C575;
    border-radius: 0.5em;
}

header ul li {
    display: inline-block;
    width: 20%;
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    background-color: #66C575;
    border-radius: 0.5em;
    margin-right: 1%;
    margin-left: 3%;
}

header ul li:hover {
    background-color: #31954C;
}

#content {}

.mid {
    background-color: #FFF;
    border-radius: 0.5em;
    width: 68%;
    height: auto;
    padding: 2%;
    float: left;
    margin-bottom: 1em;
}

.mid h1 {}

.mid img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
    border-radius: 0.5em;
}

.mid p {
    font-size: 1em;
    line-height: 1.8em;
    text-indent: 2em;
    /*letter-spacing:0.1em;*/
    margin: 1em 0;
}

.label1 {
    background-color: #FFF;
    width: 25%;
    border-radius: 0.5em;
    height: auto;
    float: left;
    margin-left: 1%;
    font-size: 0.7em;
    line-height: 2em;
    padding: 1%;
    margin-bottom: 1%;
}

.label1 img {
    width: 23%;
    height: auto;
    border-radius: 0.5em;
}

footer {
    background-color: #D47EC9;
    color: #FFF;
    clear: both;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    margin-top: 3em;
    text-align: center;
}

footer ul li {
    height: 3em;
    display: inline-block;
}

@media screen and (max-width:980px) {
    #wrap {
        width: 95%;
    }
    header h1 {
        text-align: center;
    }
    header ul {
        background-color: #000;
    }
    header ul li {
        font-size: 0.9em;
        width: 18%;
        margin-right: 1%;
    }
    .mid {
        width: 95%;
    }
    .label1 {
        width: 95%;
    }
    footer ul li {
        display: block;
    }
}